In [1]:
#import module/package yang dibutuhkan
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [2]:
#membuat session, untuk mengakses semua fungsi spark dan DataFrame API
spark = SparkSession \
    .builder \
    .appName("Pengenalan DataFrame Spark") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
#mendefinisikan skema dari data yang kita baca
purchaseSchema = StructType([
    StructField("Tanggal", DateType(), True),
    StructField("Jam", StringType(), True),
    StructField("Kota", StringType(), True),
    StructField("Item", StringType(), True),
    StructField("Total", FloatType(), True),
    StructField("Pembayaran", StringType(), True)
])

In [4]:
#membaca file csv menggunakan skema yang kita buat sebelumnya, dan dengan pemisah kolom "tab"(\t)
purchaseDataFrame = spark.read.csv(
    "dataset/purchases.csv",
    header=True, schema=purchaseSchema, sep="\t")

In [6]:
#menampilkan 3 baris DataFrame
purchaseDataFrame.show(5)

+----------+-----+----------+-------------------+------+----------+
|   Tanggal|  Jam|      Kota|               Item| Total|Pembayaran|
+----------+-----+----------+-------------------+------+----------+
|2012-01-01|09:00|  San Jose|     Men's Clothing|214.05|      Amex|
|2012-01-01|09:00|Fort Worth|   Women's Clothing|153.57|      Visa|
|2012-01-01|09:00| San Diego|              Music| 66.08|      Cash|
|2012-01-01|09:00|Pittsburgh|       Pet Supplies|493.51|  Discover|
|2012-01-01|09:00|     Omaha|Children's Clothing|235.63|MasterCard|
+----------+-----+----------+-------------------+------+----------+
only showing top 5 rows